@font-face {
    font-family: 'Varela Round';
    src: url('../../fonts/VarelaRound-Regular.eot');
    src: url('../../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('../../fonts/VarelaRound-Regular.woff') format('woff'),
        url('../../fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}