.app-header {
    .app-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        flex: 0 1 auto;
        .app-logo {
            font-size: 25px;
            position: relative;
            .beta {
                position: absolute;
                top: 0;
                right: -28px;
                font-size: 11px;
            }
        }
        .app-navbar-menu {
            & > ul {
                padding: 0;
                margin: 0;
                list-style: none;
                & > li {
                    display: inline-block;
                    position: relative;
                    & > span, & > a {
                        margin-left: 10px;
                        .app-navbar-avatar {
                            height: 37px;
                            border-radius: 0.1em;
                        }
                    }
                    & > a {
                        display: block;
                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 2px rgba(0,116,217,.5);
                            border-radius: 0.1em;
                        }
                    }
                    & > ul {
                        position: absolute;
                        z-index: 99999999;
                        top: 55px;
                        right: 0;
                        list-style: none;
                        padding: 8px;
                        margin: 0;
                        border-radius: 0.2em;
                        min-width: 160px;
                        background: rgb(215, 236, 255);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
                        & > li {
                            text-align: center;
                            margin-bottom: 8px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            & > a {
                                display: block;
                                background: #ecf6ff;
                                padding: 5px 5px;
                                border-radius: 0.2em;
                                text-decoration: none;
                                transition: all .1s;
                                &:hover, &:focus {
                                    background: #0073d9;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}
